<% content_for :sidebar do %>
	<%= render :partial => 'sidebar-new' %>
<% end %>

<% content_for :content do %>
<div class="content">
	<div class="pull-right">
		<%= link_to 'Back', product_types_path, :class => "btn primary" %>
	</div>
	<div class="row">
		<div class="span20">
			<div class="row">
				<div class="span20">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
<% end %>
