<div class="box onethird">
<% if can? :create, User %>
  <div class="boxheading clearfix">
    <h3>Control Bar</h3>
    <a class="move"></a>
  </div>
  <section>
    <%= link_to(new_user_path, :class => "btn_icon textright mrb15", "rel" => "popover", "data-content" => "Add users to the system and assign them the correct privileges.", :title => "Information", "data-placement" => "left")  do %>
        <%= image_tag ("icons/fatcow-hosting-icons/32x32/add.png") %>
        <span class="l">
          <span class="title">Create!</span>
          <span class="subtitle">New User</span>
        </span>
    <% end %>
  </section>
<% end %>
</div>