<div class="sidebar">
  <div class="well-sidebar">
    <h5 class="light">Control Bar</h5>
    <fieldset>
    	<div class="clearfix">
    		<div style="margin-left:20px;float:left;">
      			<%= link_to "New User", new_user_path(@user),:class => "sprite-sidebarnew newuserbutton", "data-controls-modal" => "my-modal", "data-backdrop" => "static" %>
      		</div>
      		<div style="margin-left:10px;float:left;">
      			<h7>Create a User</h7>
      		</div>
      	</div>
    </fieldset>
  </div>

</div>