<% content_for :content do %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
<a class="btn" data-controls-modal="my-modal" data-backdrop="static" >Launch Modal</a>
<script type="text/javascript" id="js">
  $(document).ready(function() {
    $('#my-modal').modal({
   show : true,
   keyboard : true,
   backdrop : true
});
</script>

<div class="modal hide fade" id="my-modal" >
	<div class="modal-header">
		<%= link_to 'x', users_path, :class => 'close' %>
	    <h3>New User</h3>
	</div>
	<div class="modal-body">
	    <%= render 'form' %>
	</div>

</div>
<% end %>