<% if @purchase.products.all.count == 0 %>
    <div class="blank_slate_container">
      <span class="blank_slate">
        There are no Products yet.  <%= link_to 'Create One', new_purchase_product_path(@purchase) %>
      </span>
    </div>
<% else %>
<div class="boxheading clearfix">
    <h3>Line Items (<%= @purchase.products.count %>)</h3>
    <a class="move"></a>
</div>
<section>
	<table class="bordered-table">
		<thead>
			<tr>
        		<th>Product Type</th>
                <th>Description</th>
        		<th>Quantity Ordered</th>
                <th>Received By</th>
        		<th>Location</th>
        		<th>Received</th>
        		<th>Date Received</th>
        		<% if can? :update, Product %><th class="action-buttons">Actions</th> <% end %>
  		    </tr>
		</thead>
		<tbody id="tablehead">
            <%= render :partial => "product"%>
		</tbody>
	</table>

</section>
<% end %>
