<div class="sidebar">
  <div class="well-sidebar">
    <h5 class="light">Control Bar</h5>
    <fieldset>
      <div class="clearfix">
        <div style="margin-left:20px;float:left;">
            <%= link_to "New Product", new_purchase_product_path(@purchase),:class => "sprite-sidebarnew newpurchasebutton", "rel" => "popover", "data-content" => "Line Items are the individual parts that make up the Purchase Order.  When creating a Line Item, you will be picking from Product IDs that have already been added to the system.  Until the Line Item has been received, the Location and Date Received should remain blank.", :title => "Information", "data-placement" => "left" %>
          </div>
          <div style="margin-left:10px;float:left;">
            <h7>Add a Line Item</h7>
          </div>
        </div>
    </fieldset>
  </div>
</div>