<% content_for :sidebar do %>
	<% if can? :create, Product %><%= render :partial => 'sidebar-products' %> <%end%>
<% end %>

<% content_for :content do %>
<div class="<% if can? :create, Product %>box twothirds<% else %>box threethirds<% end %>">
	
	<%= render :partial => 'show-content' %>

	<%= render :partial => 'show-products' %>
</div>

<% end %>



