<% content_for :sidebar do %>
	<%= render :partial => 'sidebar-products' %>
<% end %>

<% content_for :content do %>
<div class="<% if can? :create, Product %>box twothirds<% else %>box threethirds<% end %>">
	<%= render :partial => 'show-products' %>
</div>

<% end %>

<% if can? :create, Product %>
	<% content_for :footer do %>
	  <li>
	    <%= link_to new_purchase_product_path(@purchase) do %>
	      <%= image_tag('addit.png') %>
	      <span><h4 style="display:inline;">Create Line Item</h4></span>
	    <% end %>
	  </li>
	<% end %>
<% end %>