<% content_for :sidebar do %>
	<%= render :partial => 'sidebar-products' %>
<% end %>

<% content_for :content do %>
<div class="<% if can? :create, Product %>box twothirds<% else %>box threethirds<% end %>">
	<%= render :partial => 'show-products' %>
</div>

<% end %>