<div class="box onethird">
  <div class="boxheading clearfix">
    <h3>Low Inventory</h3>
    <a class="move"></a>
  </div>
  <section class="clearfix">
	  <table>
	    <tbody>
	    	<% @lowinventory.each do |lowinventory| %>
	        <tr>
				<td><%= lowinventory.prod_number %></td>
				<td><% if lowinventory.total_quantity < lowinventory.needed_quantity %><span class="levellow"><%= lowinventory.total_quantity %></span><% else %><%= lowinventory.total_quantity %><% end %></td>
				<td><%= lowinventory.needed_quantity %></td>
	        </tr>
	    	<% end %>
	    </tbody>
	  </table>
  </section>
</div>