/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
 *= require jquery-ui
*/

/* DASHBOARD */
.pull-left-dash {
  float: left;
  padding-left:20px;
}
/* ACTION ITEM BUTTONS */
.sprite-new {
    background: url(sprite_new.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
}
.showbutton {
    background-position: -124px -401px;
    height: 25px;
    width: 25px;
}
.showbutton:hover {
    background-position: -124px -441px;
    height: 25px;
    width: 25px;
}
.editbutton {
    background-position: -85px -401px;
    height: 25px;
    width: 25px;
}
.editbutton:hover {
    background-position: -85px -441px;
    height: 25px;
    width: 25px;
}
.deletebutton {
    background-position: -205px -401px;
    height: 25px;
    width: 25px;
}
.deletebutton:hover {
    background-position: -205px -441px;
    height: 25px;
    width: 25px;
}

/* FORM ITEM BUTTONS */
input[type="submit"].searchbutton {
    background-position: -372px -52px;
    height: 25px;
    width: 25px;
    border: none;
    box-shadow: none;
}
input[type="submit"].searchbutton:hover {
    background-position: -372px -12px;
    height: 25px;
    width: 25px;
}
.resetbutton {
    background-position: -205px -401px;
    height: 25px;
    width: 25px;
}
.resetbutton:hover {
    background-position: -205px -441px;
    height: 25px;
    width: 25px;
}


/* Authentication */
.sprite-header {
    background: url(sprite_new.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 40px;
    text-indent: -9999px;
    margin-top:5px;
    width: 40px;
}
.logoutbutton {
    background-position: -235px -516px;
    height: 25px;
    width: 25px;
}
.logoutbutton:hover {
    background-position: -235px -476px;
    height: 25px;
    width: 25px;
}

/* Purchase Order Filled */
.completebutton {
    background-position: -277px -836px;
    height: 25px;
    width: 25px;
}
.notcompletebutton {
    background-position: -205px -401px;
    height: 25px;
    width: 25px;
}

/* Sidebar New Icons */
.sprite-sidebarnew {
    background: url(sprite_new.png) no-repeat scroll 0 0 transparent;
    display: block;

    height: 40px;
    text-indent: -9999px;
    width: 40px;
}
.newuserbutton {
    background-position: -476px -793px;
    height: 35px;
    width: 35px;
}
.newuserbutton:hover {
    background-position: -476px -753px;
    height: 35px;
    width: 35px;
}
.newlocationbutton {
    background-position: -202px -283px;
    height: 35px;
    width: 35px;
}
.newlocationbutton:hover {
    background-position: -202px -243px;
    height: 35px;
    width: 35px;
}
.newproducttypebutton {
    background-position: -163px -204px;
    height: 35px;
    width: 35px;
}
.newproducttypebutton:hover {
    background-position: -163px -164px;
    height: 35px;
    width: 35px;
}
.newpurchasebutton {
    background-position: -163px -204px;
    height: 35px;
    width: 35px;
}
.newpurchasebutton:hover {
    background-position: -163px -164px;
    height: 35px;
    width: 35px;
}

/* LevelLow */
.levellow {
    color:red;
}

/* PAGINATION */
.pagination {
    display: inline;
    margin-left: 10px;
}
.pagination a {
    background: -moz-linear-gradient(-90deg, #F9F9F9, #DDDBDB) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 200px 200px 200px 200px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #777777;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    margin-right: 3px;
    padding: 0.6em 1.4em 0.5em 1.3em;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}
.pagination a:hover {
    box-shadow: 0 1px 3px #888888;
    color: #FFFFFF;
}
.pagination a:hover span.icon svg path, .pagination a:hover span.icon svg polygon, .pagination a:hover span.icon svg rect, .pagination a:hover span.icon svg circle {
    fill: white !important;
}
.pagination a:active {
    box-shadow: 0 1px 2px black inset;
}
.pagination a:hover {
    color: #444444;
}
.pagination a:hover span.icon svg path, .pagination a:hover span.icon svg polygon, .pagination a:hover span.icon svg rect, .pagination a:hover span.icon svg circle {
    fill: #444444 !important;
}
.pagination a:active {
    box-shadow: 0 1px 2px #AAAAAA inset;
}
.pagination span.page.current {
    background: -moz-linear-gradient(-90deg, #838A90, #414549) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 200px 200px 200px 200px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #EFEFEF;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    margin-right: 3px;
    padding: 0.6em 1.4em 0.5em 1.3em;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
}
.pagination span.page.current:hover {
    box-shadow: 0 1px 3px #888888;
    color: #FFFFFF;
}
.pagination span.page.current:hover span.icon svg path, .pagination span.page.current:hover span.icon svg polygon, .pagination span.page.current:hover span.icon svg rect, .pagination span.page.current:hover span.icon svg circle {
    fill: white !important;
}
.pagination span.page.current:active {
    box-shadow: 0 1px 2px black inset;
}
.pagination a, .pagination span.page.current {
    border-radius: 0 0 0 0;
    margin-right: 4px;
    padding: 2px 5px;
}
.pagination span.page.current {
    padding-left: 7px;
}

th.action-buttons {
    width:95px;
}
thead {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    color: #5E6469;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin: 0;
    padding: 10px 30px;
    position: relative;
    text-shadow: 0 1px 0 white;
}

#title_bar {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #5E6469;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 10px 30px;
    position: relative;
    text-shadow: 0 1px 0 white;
}
.panel > div {
    padding: 3px 15px 15px;
}
.panel {
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px #DDDDDD inset;
    margin-bottom: 20px;
}
.panel h3 {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #5E6469;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 0.5em;
    padding: 5px 10px 3px;
    text-shadow: 0 1px 0 white;
}
.panel_contents table {
    margin-top: 5px;
}
.panel_contents table th {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: none;
    color: #5E6469;
    padding-top: 10px;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
}
.attributes_table {
    overflow: hidden;
}
.attributes_table table th, .attributes_table table td {
    border-bottom: 1px solid #E8E8E8;
    padding: 8px 12px 6px;
    vertical-align: top;
}
.attributes_table table th {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #5E6469;
    font-size: 0.9em;
    padding-left: 0;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
    width: 150px;
}
.attributes_table table td .empty {
    color: #BBBBBB;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}