/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require tables
 *= require style
 *= require color

 *= require grid
 *= require variables
 *= require jquery-ui
 *= require_self
*/

/* ACTION ITEM BUTTONS */
.sprite-new {
    background: url(sprite_new.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
}
.showbutton {
    background-position: -124px -401px;
    height: 25px;
    width: 25px;
}
.showbutton:hover {
    background-position: -124px -441px;
    height: 25px;
    width: 25px;
}
.editbutton {
    background-position: -85px -401px;
    height: 25px;
    width: 25px;
}
.editbutton:hover {
    background-position: -85px -441px;
    height: 25px;
    width: 25px;
}
.deletebutton {
    background-position: -205px -401px;
    height: 25px;
    width: 25px;
}
.deletebutton:hover {
    background-position: -205px -441px;
    height: 25px;
    width: 25px;
}

/* FORM ITEM BUTTONS */
input[type="submit"].sprite-new {
    background: url(sprite_new.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
    -webkit-appearance: none;
}
input[type="submit"].sprite-new:hover {
    background: url(sprite_new.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
    -webkit-appearance: none;
}
input[type="submit"].searchbutton {
    background-position: -372px -52px;
    height: 25px;
    width: 25px;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
}
input[type="submit"].searchbutton:hover {
    background-position: -372px -12px;
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
}
.resetbutton {
    background-position: -205px -401px;
    height: 25px;
    width: 25px;
}
.resetbutton:hover {
    background-position: -205px -441px;
    height: 25px;
    width: 25px;
}

/* Purchase Order Filled */
.completebutton {
    background-position: -277px -836px;
    height: 25px;
    width: 25px;
}
.notcompletebutton {
    background-position: -205px -401px;
    height: 25px;
    width: 25px;
}

/* BLANK SLATE */
.blank_slate_container {
    clear: both;
    text-align: center;
}
.with_sidebar .blank_slate_container .blank_slate {
    margin-top: 80px;
}
.blank_slate_container .blank_slate {
    border: 1px dashed #AAA;
    border-radius: 3px 3px 3px 3px;
    color: #555;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* STICKY FOOTER */
* { margin:0; padding:0; } 

html, body, #wrap { height: 100%; }

body > #wrap {height: auto; min-height: 100%;}

#main { padding-bottom: 188px; }  /* must be same height as the footer */

/*footer {
        position: relative;
        margin-top: -168px;
        height: 168px;
        clear:both;} */

/* CLEAR FIX*/
.clearfix:after {content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */