<% content_for :content do %>
<div class="box onethird"> &nbsp;</div>
<div class="box midthirds">
  <% if can? :create, Product %>
  <div class="boxheading clearfix">
    <h3>Edit Product</h3>
    <a class="move"></a>
  </div>
  <section>
	    <%= render 'form' %>
  </section>
  <% end %>
</div>
<div class="box onethird"> &nbsp;</div>
<% end %>
