<% content_for :sidebar do %>
	<%= render :partial => 'sidebar-new' %>
<% end %>

<% content_for :content do %>
<div class="content">
			<div class="pull-right">
				<%= link_to 'Show', purchase_product_path(@product), :class => "btn primary"  %>
				<%= link_to 'Back', purchase_path(@purchase), :class => "btn primary"  %>
			</div>
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
<% end %>
