<% if can? :create, Location %>
<div class="sidebar">
  <div class="well-sidebar">
    <h5 class="light">Control Bar</h5>
    <fieldset>
    	<div class="clearfix">
    		<div style="margin-left:20px;float:left;">
      			<%= link_to "New Location", new_location_path,:class => "sprite-sidebarnew newlocationbutton" %>
      		</div>
      		<div style="margin-left:10px;float:left;">
      			<h7>Add a Location</h7>
      		</div>
      	</div>
    </fieldset>
  </div>
</div>
<% end %>
