<div class="box onethird">
<% if can? :create, Location %>
  <div>
    <div class="boxheading clearfix">
      <h3>New Location</h3>
      <!-- <a class="move"></a> -->
        <%= link_to(new_location_path, :class => "r", :remote => true, :id => "formshow")  do %>
            <%= image_tag ("hdr_dropdown.png") %>
        <% end %>
    </div>
    <section id="form" style="display:none;">
      <%= render 'form' %>
    </section>
  </div>
<% end %>
</div>





