<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<% content_for :content do %>
<div class="content">
			<div class="pull-right">
				<%= link_to 'Show', @location, :class => "btn primary"  %>
				<%= link_to 'Back', locations_path, :class => "btn primary"  %>
			</div>
	<div class="row">
		<div class="span12">
			<h1>Edit Location</h1>
			<div class="row">
				<div class="span12">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
<% end %>
