<% content_for :content do %>
<div class="box onethird"> &nbsp;</div>
<div class="box midthirds">
	<div class="boxheading clearfix">
		<h3>Edit Location</h3>
		<a class="move"></a>
	</div>
	<section>
		<%= render 'form' %>
	</section>
</div>
<div class="box onethird"> &nbsp;</div>
<% end %>
