<% content_for :sidebar do %>

<% end %>

<% content_for :content do %>
<div class="box onethird">&nbsp;</div>
<div class="box midthirds">
  <div class="boxheading clearfix">
    <h3>Location Details</h3>
    <%= link_to "", locations_path, :class => "prev" %>
  </div>
  <section>
    <div class="row">
      <p>
        <b>Room:</b>
        <%= @location.room %>
      </p>
    </div>
    <div class="pt15">
    <p>
      <%= link_to 'Edit', edit_location_path(@location), :class => "btn blue pt20"  %>
    </p>
    </div>
  </section>
</div>
<div class="box onethird">&nbsp;</div>
<% end %>